@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.MuiBox-root.css-1dk34ka {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.MuiBox-root.css-6o1yxd {
  position: absolute;
  top: 10%;
}

.MuiBox-root.css-s6io7c {
  position: absolute;
  top: 10%;
}

.user-widget {
  position: fixed;
  width: 310px;
  z-index: 3;
}
.post-widget {
  position: relative;
  left: 30%;
}

.advert-friendlist-widget {
  position: fixed;
  width: 310px;
  height: 80vh;
  z-index: 3;
  right: 4%;
  overflow-y: auto;
}
.advert-friendlist-widget::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.advert-friendlist-widget::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 6px;
  border-radius: 20px;
}

.advert-friendlist-widget::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
